.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display:block
}

.example-full-width {
  width: 100%;
}

.login{
    padding:10%
}

.card{
    text-align: center;
}

.card-form{
    padding-left:20%;
}

.email{
    padding-bottom: 2%;
}

.card-dimen{
    width:400pxks
}